@media (max-width: 740px){

.first-container
{
    text-align: center; 
    margin-top: 8rem;
    height: auto;
    width: 100%;
}
/*------------------------Font Animation-----------------*/
.first-container h1 
{
    font-size: var(--wp-represent-font-size-large);
}
@keyframes animate
{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90%
    {
        width: 245px;
    }
}
.first-container .first-all-content
{
    margin-top: 4rem;
    display: flex;
}
.first-container .first-home-page
{

    width: 100%;
}
.first-container .second-home-page
{
    width: 100%;
}

}
@media (max-width: 470px){
/*------------------------Font Animation-----------------*/
.first-container h1 
{
    font-family: cursive;

    font-size: var(--wp-represent-font-size-large);
}
@keyframes animate
{
    0%, 10%, 100%
    {
        width: 0;
    }
    70%, 90%
    {
        width: 270px;
    }
}
.first-container .first-all-content
{
    margin-top: 4rem;
    gap: 3rem;
    display: flex;
}
.first-container .first-all-content h2 
{
    font-family: bold;
}
.first-container .first-all-content h2 span 
{
    font-family: bold;

}
.first-container .first-home-page
{
    
    width: 100%;
}
.first-container .second-home-page
{
        width: 100%;
}
    
}
